body {
  /* background: url(https://i.postimg.cc/Gtm5pPfW/pexels-ovan-57690.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

  
  
  
  
  

  

  
  
  
  
  
 

  color: white !important;
  /* background: rgb(1, 7, 97) !important; */
}
.billsLabel {
  
  background-size: contain;
  /* padding: 33px; */
   min-width: 105px;
  min-height: 105px;
  height: 55px;
  width: 55px; 
  color: black;
  border-radius: 5px;
  border: solid 1px yellowgreen;
}

.billsLabel:hover {
  cursor: pointer;
  color: rgb(61, 53, 53);
}
/* #carLabel {
  background-image: url(https://i.postimg.cc/c4YZSkC0/cAR3.png) ; 
  background-repeat: no-repeat;
} */
/* #rentLabel {
  background-image: url(https://i.postimg.cc/vHy240XQ/house.png);
  background-repeat: no-repeat;
}
#phoneLabel {
  background-image: url(https://i.postimg.cc/vHy240XQ/house.png);
  background-repeat: no-repeat;
}
#miscLabel {
  background-image: url(https://i.postimg.cc/vHy240XQ/house.png);
  background-repeat: no-repeat;
} */

.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
  
   
}
.react-datepicker-wrapper, .react-datepicker__input-container {
  border: none !important;
}
.customDatePickerWidthInput {
  
  margin-top: 10px;
  border: solid 1px darkblue !important;
  border-radius: 5px;
}

.dateP {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.editBtn {
  background: none;
  border: none;
}
.custom-amount-box {
  padding: 25px !important;
  border: solid 1px cyan;
  border-radius: 15px;
}
.custom-margin {
  margin-top: 140px !important;
}


