/* body {
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.billsLabel {

  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  
  background-size: contain;
  /* padding: 33px; */
   min-width: 105px;
  min-height: 105px;
  height: 55px;
  width: 55px; 
  color: black;
  border-radius: 5px;
  border: solid 1px yellowgreen;
  /* box-shadow: 20px 50px; */

}
.datePicker {
 border: none;
}
.billsLabel:hover {
  cursor: pointer;
  color: rgb(61, 53, 53);
}
/* #carLabel {
  background-image: url(https://i.postimg.cc/c4YZSkC0/cAR3.png) ; 
  background-repeat: no-repeat;
} */
/* #rentLabel {
  background-image: url(https://i.postimg.cc/vHy240XQ/house.png);
  background-repeat: no-repeat;
}
#phoneLabel {
  background-image: url(https://i.postimg.cc/vHy240XQ/house.png);
  background-repeat: no-repeat;
}
#miscLabel {
  background-image: url(https://i.postimg.cc/vHy240XQ/house.png);
  background-repeat: no-repeat;
} */

.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}

